*{
	font-size: 12px;
}
ul{
	list-style-type: none;
}
.pagination{
	display: inline-flex !important;
}
header{
	background-color: rgb(128,180,53);
	position: fixed;
	z-index: 20;
	width: 100%;
}
header .nav-link{
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 500;
}
header .nav-link:hover{
	color: #333!important;
}
.navbar{
	margin-bottom: 0;
	padding: 0.5rem 0;
}
.fa-cart-arrow-down, .fa-search{
	font-size: 12px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.7);
    border-color: rgba(0, 0, 0, 0.7);
}
.two-icon{
	display: none;
}
@media only screen and (min-width: 768px){
	#navbarNav ul li{
		margin-left: 10px;
	}
}
@media only screen and (max-width: 568px){
	header img{
		height: 80%;
	}
	.nav-item-icon{
		display: none;
	}
	.two-icon{
		display: flex;
	}
}
#space{
	height: 73px;
}
#navbarNav{
	position: relative;
}
.form-search{
	position: absolute;
	top: 30px;
	width: 200px;
	background-color: rgb(128,180,53);
	padding: 10px;
	display: none;
	border: 1px solid #e8e8e8;
}
.form-search button{
	background-color: #fff;
	box-shadow: none;
	border: 1px solid #e8e8e8;
}
/*end header*/