#brand-name{
	color: #fff;
	background-color: rgba(238,140,46,0.9);
	font-family: 'Courgette';
	z-index: 5;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	display: table;
	height: 30%;
	padding: 10px 0;
}
#brand-name span{
	font-size: 5vw;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#carouselExampleIndicators{
	height: 100%;
}
#carouselExampleIndicators img{
	height: 100%;
}
.carousel-indicators .active{
	background-color: #333;
}
.carousel-indicators li{
	border: 1px solid #333;
	border-radius: 100%;
}
#carouselExampleIndicators ol{
	bottom: 0;
	margin-bottom: 1%;
}
.carousel-indicators .active, .carousel-indicators li{
	width: 5px;
	height: 5px;
	margin: 3px;
}
.carousel-indicators {
    bottom: 5px;
}
/*end carousel*/

.box-border{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #fff;
}
.text-in{
	color: #333;
	text-transform: uppercase;
	font-size: 16px;
	background-color: #fff;
	padding: 5px;
	margin: 5px;
	font-weight: 600;
}
.menu .row{
	padding-top: 30px;
	padding-bottom: 30px;
}
.menu .box-menu img{
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768.9px){
	.menu .box-menu{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.menu .box-menu img{
		width: 80%;
	}
}
		/*end menu*/

		/*new_good*/
#new_good{
	background-color: rgb(128,180,53);
	padding: 40px 0;
}
.title{
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-bottom: 0;
}

#new_good .card{
	border: 1px solid #b9b6b6;
	text-align: center;
	border-radius: 0;
	box-sizing: border-box;
	width: 224px;
	height: 340px;
	margin: 0 auto;
}
#new_good .card div.box-img{
	position: relative;
	height: 260px;
	margin-left: 10%;
	margin-right: 10%;
}
#new_good .card-img-top{
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 auto;
}
#new_good .card-body{
	border-top: 1px solid #b9b6b6;
	height: 80px;
	width: 220px;
	padding: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
}
#new_good .card-title{
	font-size: 16px;
	margin: 10px 0 0 0;
}
#new_good .card-text{
	font-size: 13px;
	margin: 2px 0;
}
#new_good .card-link{
	font-size: 11px;
	color: #c80a0a;
	font-weight: 500;
}
.owl-prev{
	left: -15px;
}
.owl-next{
	right: -15px;
}
.owl-prev, .owl-next{
	width: 30px;
	height: 50px;
	position: absolute;
	top: 40%;
	background-color: #fff !important;
	border: 1px solid rgb(128,180,53) !important;
	border-radius: none !important;
}
.owl-prev span, .owl-next span{
	font-size: 30px;
	line-height: 15px;
	color: #787878;
}

@media only screen and (max-width: 375px){
	#new_good .card div.box-img{
		height: 200px;
	}
	#new_good .card{
		height: 280px;
	}
}
@media only screen and (min-width: 992px){
	#new_good .container{
		width: 992px !important;
	}
}
@media only screen and (min-width: 767.9px) and (max-width: 991px){
	#new_good .container{
		width: 768px !important;
	}
}
@media only screen and (min-width: 530px) and (max-width: 767px){
	#new_good .container{
		max-width: 500px !important;
	}
}
/*end new_good*/


.bowl-center{
	margin-bottom: 30px;
}
#camNang{
	margin-top: 30px;
}
#camNang strong{
	color: #333 !important;
}
#camNang .col-lg-4 strong{
	display: block;
	margin: 20px 0 10px 0;
	font-size: 16px;
	text-align: left;
}
#camNang .col-lg-4 p{
	font-size: 12px;
	text-align: justify;
}
#camNang .row img{
	width: 100%;
}